.faq
{
    font-family: Modern;
    background-repeat: no-repeat;
    margin-left:300px;
    width:62.25%;
    padding: 1px;
    padding-top: 50px;
    border-right:5px groove #808080;
}
.div1
{
    background: none;
    color: #635d5c; 
    width: 45%;
    float: left;
    margin-left: 3%;
    margin-bottom: 30px;
}
.div2
{
    background: none;
    color: #635d5c; 
    width: 45%;
    float: right;
    margin-left: 3%;
    margin-bottom: 30px;
}
.faq img
{
    width: 45%;
    margin-left: 3%;
    margin-bottom: 30px;
}
.faq p
{
    background: none ;
    font-size: 1.5em;
}
.faq h1
{
    color: #463b38; 
    font-size: 3em;
}